{% extends 'base.jinja2' %}

{% block subtitle %}Donations for {{ name }}{% endblock subtitle %}

{% block content %}
<ul>
    {% for donation in donations %}
        <li>{{ donation }}</li>
    {% endfor %}
</ul>
{% endblock content %}