{% extends 'base.jinja2' %}

{% block subtitle %}Login{% endblock subtitle %}

{% block content %}
<form method="POST">
    {% if error %}<p>{{ error }}</p>{% endif %}
    <label for="name">Username:</label><input id="name" type="text" name="name"><br>
    <label for="password">Password:</label><input id="password" type="password" name="password"><br>
    <input type="submit" value="login">
</form>
{% endblock content %}